node_modules
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache/
artifacts/*
!artifacts/build-info/
!artifacts/contracts/
!artifacts/imports/

.idea
.temp/

cache.coverage
artifacts.coverage
coverage*
.coverage*
smartcheck*
flattened*
docs/

yarn-error.log
hardhat.config.last.json

!.env.example
.env
.env_*
.mnemonic_*

bin/